<template>
  <div id="confirmAuction">
    <a-row class="has-line mg-bt-23px pd-bt-23px" :gutter="20">
      <a-col class="pd-bt-23px" :span="24" style="display: flex; justify-content: space-between">
        <p class="f-s-1-8 f-w-500">
          ข้อมูลสินค้าที่ทำการเปิดประมูล
        </p>
        <a-button
          class="oa-button is-primary is-invert mg-r-10px"
          size="large"
          @click="onPreviousState"
        >
          ย้อนกลับ
        </a-button>
      </a-col>
      <a-col :lg="{ span: 12 }">
        <div v-if="uploadMediaList.length === 0" class="farm-img-wrapper">
          <div class="no-img dp-flex jtf-ct-center al-it-center">
            ไม่มีรูปภาพ
          </div>
        </div>
        <a-carousel arrows dots-class="slick-dots slick-thumb">
          <a slot="customPaging" slot-scope="props">
            <img :src="uploadMediaList[props.i].thumbUrl">
          </a>
          <div v-for="(media, index) in uploadMediaList" :key="index">
            <div
              class="show-image cs-pointer"
              :style="{ backgroundImage: `url('${media.thumbUrl}')`}"
            />
          </div>
        </a-carousel>
      </a-col>
      <a-col :lg="{ span: 12 }">
        <a-form layout="horizontal">
          <a-form-item
            label="ผลิตภัทฑ์ที่คาดการณ์(ต้น)"
            :label-col="{ span: 12 }"
            :wrapper-col="{ span: 12 }"
          >
            <label class="cl-primary">{{ expectedHarvestOutput | numberComma }}</label>
          </a-form-item>
          <a-form-item
            label="วันที่เริ่มเก็บเกี่ยว"
            :label-col="{ span: 12 }"
            :wrapper-col="{ span: 12 }"
          >
            <label class="cl-primary">{{ require('moment')(expectedHarvestDateTimeStart).format('YYYY-MM-DD') }}</label>
          </a-form-item>
          <a-form-item
            label="วันที่เก็บเกี่ยวเสร็จ"
            :label-col="{ span: 12 }"
            :wrapper-col="{ span: 12 }"
          >
            <label class="cl-primary">{{ require('moment')(expectedHarvestDateTimeEnd).format('YYYY-MM-DD') }}</label>
          </a-form-item>
          <a-form-item
            label="บริการเก็บเกี่ยว"
            :label-col="{ span: 12 }"
            :wrapper-col="{ span: 12 }"
          >
            <a-icon v-if="isCollectService" class="cl-success" type="check" />
            <a-icon v-else class="cl-danger" type="close" />
          </a-form-item>
          <a-form-item
            label="บันทึกเพิ่มเติม"
            :label-col="{ span: 12 }"
            :wrapper-col="{ span: 12 }"
          >
            <label class="cl-primary">{{ extraCondition || '-' }}</label>
          </a-form-item>
        </a-form>
      </a-col>
    </a-row>
    <p class="f-s-1-8 f-w-500">
      ข้อมูลการเปิดประมูล
    </p>
    <auction-price preview :price-start="priceStart" :user="user" />
    <div class="dp-flex al-it-center jtf-ct-center">
      <div class="t-al-center">
        <label class="title">วันที่เปิดประมูล</label>
        <a-form class="form">
          <a-form-item>
            <label class="cl-primary">{{ require('moment')(dateTimeStart).format('YYYY-MM-DD') }}</label>
          </a-form-item>
        </a-form>
      </div>
      <div class="t-al-center">
        <p style="margin: 0 10px;">
          ~
        </p>
      </div>
      <div class="t-al-center">
        <label class="title">วันที่ปิดประมูล</label>
        <a-form class="form">
          <a-form-item>
            <label class="cl-primary">{{ require('moment')(dateTimeEnd).format('YYYY-MM-DD') }}</label>
          </a-form-item>
        </a-form>
      </div>
    </div>
    <a-row type="flex" justify="center">
      <a-col :lg="{ span: 8 }">
        <div v-if="otpRef" class="t-al-center f-s-1-6 f-w-500">
          รหัสอ้างอิง: <span class="cl-primary">{{ `${otpRef}` }}</span>
        </div>
        <div class="dp-flex al-it-center">
          <a-input class="mg-r-18px" @change.native="e => $emit('update:otp', e.target.value)" />
          <a-button class="oa-button is-primary" @click="onRequestOtp">
            รับ OTP
          </a-button>
        </div>
      </a-col>
      <a-col class="mg-t-20px t-al-center" :span="24">
        <label class="f-s-1-2">* กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนทำการยืนยันการเปิดประมูล</label>
      </a-col>
      <a-col class="t-al-center" :span="24">
        <label class="f-s-1-2">* เมื่อทการกดปุ่ม “ยืนยันการเปิดประมูล” จะไม่สามารถยกเลิกได้</label>
      </a-col>
    </a-row>
    <a-row class="t-al-center mg-t-20px">
      <a-button class="oa-button is-primary" @click="onConfirmAuction">
        ยืนยันการเปิดการประมูล
      </a-button>
    </a-row>
  </div>
</template>

<script>
import AuctionPrice from '~/components/auction-page/open/auction-price.vue'

export default {
  name: 'ConfirmAuction',
  components: {
    AuctionPrice
  },
  props: {
    uploadMediaList: Array,
    expectedHarvestOutput: String,
    expectedHarvestDateTimeStart: String,
    expectedHarvestDateTimeEnd: String,
    isCollectService: Boolean,
    extraCondition: String,
    priceStart: String,
    dateTimeStart: String,
    dateTimeEnd: String,
    otpRef: String,
    otp: String,
    user: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      medias: [
        require('~/assets/images/corn.jpg'),
        require('~/assets/images/corn.jpg')
      ]
    }
  },
  methods: {
    onRequestOtp () {
      this.$emit('requestOtp')
    },
    onConfirmAuction () {
      this.$emit('onConfirmAuction')
    },
    onPreviousState () {
      this.$emit('previousState')
    }
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid #e1e1e1;
}
.has-line {
  .end-line();
}
.farm-img-wrapper {
  .no-img {
    height: 303px;
    min-width: 100%;
    max-width: 303px;
    border: 1px solid #EBEBEB;
  }
}
</style>

<style scoped>
/* Vue AntD - corousel */
.ant-carousel >>> .slick-list {
  width: 100%;
}
.ant-carousel >>> .slick-dots {
  height: auto
}
.ant-carousel >>> .slick-slide .show-image{
  border: 5px solid #FFF;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ant-carousel >>> .slick-thumb {
  position: static;
  bottom: -45px;
}
.ant-carousel >>> .slick-thumb li {
  width: 60px;
  height: 45px;
}
.ant-carousel >>> .slick-thumb li img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.ant-carousel >>> .slick-thumb li.slick-active img{
  filter: grayscale(0%);
}
</style>
